@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Caprasimo&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dosis:wght@200..800&family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend+Deca:wght@100..900&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    background-color: rgb(247, 237, 255);;
}
nav, .options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,10%);
    font-family: "Dosis", sans-serif;
}

.nav-link {
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #8880FF;
}

.selected {
  color: #8880FF;
}

.options {
    gap: 2rem;
    cursor: pointer;
}

.volunteer{
    background-color: #8880FF;
    border: none;
    color: #ffffff;
    border-radius: 25px;
    padding: 1rem;
    cursor: pointer;
    font-size: .9rem;
    transition: 0.3s ease;
}

.volunteer:hover{
    background-color: hsl(260, 100%, 65%);
    transform: scale(1.05);
}
#first-text {
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
}
#get-in-touch {
    background-color: rgb(247, 237, 255); 
    min-height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;

}

#contact-form {
    flex: 1;
    background-color: white;
    box-shadow: 0px 3px 5px rgb(230, 209, 248);
    border-radius: 10px;
    padding: 30px;
    min-width: 300px;
    margin-left: 50px;

}
input {
    margin: 20px 0;
    width: 85%;
    border-radius: 10px;
    padding: 15px;
}

#contact-info img{
    width: 40px;
    height: 40px;
}

#contact-info {

    font-display:flex;
    flex: 1;
    margin-right: 50px;
    
    
}

#contact-info1 {
        background-color: white;
        box-shadow: 0px 3px 5px rgb(230, 209, 248);
        border-radius: 10px;
        padding: 8px;
        margin-bottom: 10px;
        padding-left: 40px; 
}
#contact-info1 div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

#emergency {
    background-color:rgb(146,138,255);
    min-height: 100px;
    padding: 21px;
    padding-top: 5px;
    box-shadow: 0px 3px 5px rgb(230, 209, 248);
    border-radius: 10px;
    color: white;
    

}

#submit-button {
    background-color: #8880FF;
    border: none;
    color: #ffffff;
    border-radius: 25px;
    padding: 1rem;
    cursor: pointer;
    font-size: .9rem;
    transition: 0.3s ease;
    text-align: center;
    width: 200px;
}
@media (max-width: 700px ){
    #navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        column-gap: 10px;
        flex-wrap: wrap;
        min-height: 80px;
        border-bottom: 2px solid darkgrey;
    }
    ul {
        padding-inline-start: 10px;
    }
    #navmenues li{
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    
}
    
    

}



