body {
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    font-style: normal;
}
#navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 2px;

    flex-wrap: wrap;
    min-height: 80px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);


    
}

#logo img {
    width: 50px;
    height: 40px;
    
    
}

#navmenues li{
    display: inline-block;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    
}

#navmenues a{
    text-decoration: none;
    color: black;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#button a {
    text-decoration: none;
    color:white;
    
}

#button button {
    background-color: rgb(146,138,255);
    height: 40px;
    width: 170px;
    border-radius: 20px;
    border: none;
    
    margin-bottom: 10px;
}

#get-in-touch {
    background-color: rgb(247, 237, 255); 
    min-height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#contact-form {
    flex: 1;
    background-color: white;
    box-shadow: 0px 3px 5px rgb(230, 209, 248);
    border-radius: 10px;
    padding: 30px;
    min-width: 300px;

}
input {
    margin: 20px 0;
    width: 85%;
    border-radius: 10px;
    padding: 15px;
}

#contact-info img{
    width: 40px;
    height: 40px;
}

#contact-info {

    font-display:flex;
    flex: 1;
    
    
}

#contact-info1 {
        background-color: white;
        box-shadow: 0px 3px 5px rgb(230, 209, 248);
        border-radius: 10px;
        padding: 8px;
        margin-bottom: 10px;
        
}
#contact-info1 div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

#emergency {
    background-color:rgb(146,138,255);
    min-height: 100px;
    padding: 21px;
    padding-top: 5px;
    box-shadow: 0px 3px 5px rgb(230, 209, 248);
    border-radius: 10px;
    color: white;

}
@media (max-width: 700px ){
    #navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        column-gap: 10px;
        flex-wrap: wrap;
        min-height: 80px;
        border-bottom: 2px solid darkgrey;
    }
    ul {
        padding-inline-start: 10px;
    }
    #navmenues li{
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    
}
    
    

}



