@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Caprasimo&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dosis:wght@200..800&family=Figtree:ital,wght@0,300..900;1,300..900&family=Lexend+Deca:wght@100..900&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
}

nav, .options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,10%);
    font-family: "Dosis", sans-serif;
}

.nav-link {
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #8880FF;
}

.selected {
  color: #8880FF;
}

.options {
    gap: 2rem;
    cursor: pointer;
}

.volunteer{
    background-color: #8880FF;
    border: none;
    color: #ffffff;
    border-radius: 25px;
    padding: 1rem;
    cursor: pointer;
    font-size: .9rem;
    transition: 0.3s ease;
}

.volunteer:hover{
    background-color: hsl(260, 100%, 65%);
    transform: scale(1.05);
}

#first-section-about {
    background-color: rgb(247, 237, 255);
    min-height: 900px;
}
#textabout {
    text-align: center;
    padding: 40px;
}
#about1 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
    
}

#about1 div {
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    min-width: 200px;
    max-width: 400px;
    flex: 1;
    min-height: 180px;
    text-align: center;
    background-color: white;
    padding-top: 20px;
    transition: transform 0.3s ease;
}

#about1 div:hover {
    
      transform: translateY(-10px);
}
#about1 h1 {
    color: rgb(210, 46, 210);
}
#about1 img{
    width: 40px;
    height: 40px;
}

#paragraph-about {
    margin: 50px auto;
    width: 83vw;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);

}

#values-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

#values-and-team h1{
    text-align: center;
}
#values-about div{
    max-width: 300px;
    min-width: 230px;
    border-radius: 10px;
    background-color: #E9D4FF;
    padding: 20px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    flex : 1 ;
    transition: transform 0.3s ease;
    
    
}
#values-about div:hover{
      transform: translateY(-10px);
}

#about-teams {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

#about-teams div{
    background-color: white;
    max-width: 270px;
    min-width: 200px;
    flex: 1;
    height: 120px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    margin: 40px 0 80px 0;
    padding: 20px;
    transition: transform 0.3s ease;
}
#about-teams div:hover{
      transform: translateY(-10px);
}


#about-teams img{
    width: 40px;
    height: 40px;
}
@media (max-width: 700px ){
    nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

  .options {
        gap: 1rem;
  }

  .volunteer {
        width: 100%;
  }
    
    ul {
        padding-inline-start: 10px;
    }
    
}



